#jumbotron {
    background-color: black;
    color: white;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.card {
    margin:20px;
    
    
}
.card-header {
    background-color: blue;
    color: white;
}
button {
    margin-top:5px;
}